@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

/*reset css*/
* {
box-sizing: border-box;
margin: 0px;
padding: 0px;
}
/* Corpo da Pagina */
body {
width: 1024px;
height: 1024px;
background: #FFFFFF;
}

 /* div que contem paragrafo desconto de 20% */
.div_desconto {
position: absolute;
width: 100%;
height: 38px;
left: 0px;
top: 0px;
background: #1CD1B0;
z-index: 2;
}

/* paragrafo "Desconto de 20%" */
.desconto {
position: relative;
width: 124px;
height: 18px;
left: 10px;
top: 10px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #000000;
}

 /* header com H1 "Super-Herois" */
.cabeçalho {
box-sizing: border-box;
position: absolute;
width: 100%;
height: 100px;
left: 0px;
top: 38px;
background: #00669F;
box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
display: block;
z-index: 2;
}

/* Titulo da Página "Super-Herois" */
h1 {
position: absolute;
width: 224px;
height: 44px;
left: 28px;
top: 25px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
size: 40px;
line-height: 46.88px;
color: #000000;
}

/* Parte principal da pagina com os Cards e suas divs e imagens */
main {
position: absolute;
width: 834px;
height: 597.01px;
left: 112px;
top: 223.99px;
}

/* (Div Container) que contem o card do Batman, imagens e textos */
.card_btm {
position: absolute;
width: 834px;
height: 597.01px;
left: 112px;
}

/* Div coração */
.div_heart {
position: absolute;
width: 374px;
height: 597.01px;
}

/* Coração */
.heart {
position: absolute;
left: 23.7px;
right: 0%;
top: 17.92px;
bottom: 6.25%;
z-index: 1;
}

/* fundo de imagem do card Batman */
.background1 {
position: absolute;
width: 374px;
height: 217.81px;
background: url(img/Background1.png);
}

/* Imagem do Batman */
.batman {
position: absolute;
width: 135.43px;
height: 135.43px;
left: 119.17px;
top: 142.2px;
border-radius: 50%;
z-index: 1;
}

/* (Div Container) conteudo batman */
.conteudo_btm {
position: absolute;
width: 374px;
height: 379.2px;
top: 216.69px;
background: #F3F3F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Titulo "Batman" */
h2 {
position: absolute;
width: 137.69px;
height: 39.5px;
left: 118.44px;
top: 83.51px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: flex-end;
text-align: center;
color: #000000;
}

/* Biografia Batman */ 
.texto-batman {
position: absolute;
width: 301.33px;
height: 127.53px;
left: 36px;
top: 153.3px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #333333;
}

/* Botão ver Mais wikipedia "Batman" */
.botão_btm {
position: absolute;
width: 145.34px;
height: 54.76px;
left: 113.93px;
top: 303.59px;
background: #00669F;
}

/* Botão "Ver mais" link para wikipedia do batman */
button {
position: absolute;
width: 63.2px;
height: 20.31px;
left: 41.76px;
top: 16.93px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 18px;
text-align: center;
border: none;
color: #F3F3F3;
background: #00669f;
}
/* (Div Container) do card Arlequina */
.cardAlq {
position: absolute;
width: 374px;
height: 597.01px;
left: 572px;
}

/* plano de fundo card arlequina */
.background2 {
position: absolute;
width: 373.57px;
height: 217.81px;
border-radius: 16px 16px 0px 0px;
}

/* coração card alerquina */
.heart2 {
position: absolute;
left: 19px;
top: 15px;
bottom: 6.25%;
z-index: 1;
}

/* img alerquina */
.alerquina {
position: absolute;
width: 137.69px;
height: 137.69px;
left: 126.44px;
top: 142.2px;
border-radius: 50%;
z-index: 1;
}

/* div do conteudo escrito da arlequina */
.conteudoAlq {
position: absolute;
width: 374px;
height: 379px;
left: 572px;
top: 216.89px;
background: #F3F3F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Conteúdo Card Arlequina biografia/criação do personagem */
.texto__arlequina {
position: absolute;
width: 301.33px;
height: 127.53px;
left: 44.49px;
top: 152.1px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #333333;
}

/* Botão "Ver Mais" Card Arlequina */
.botão2 {
position: absolute;
width: 145.34px;
height: 54.76px;
left: 122.36px;
top: 303.39px;
background: #00669F;
}

 /* (Div Conteiner) footer */
.div_footer {
position: absolute;
width: 100%;
height: 70px;
left: 0px;
top: 972px;
background: #00669F;  
}

 /* Rodapé da Pagina */
.footer {
position: absolute;
width: 299px;
height: 19px;
left: 28px;
top: 30px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFF9F9;
}