    * {
        box-sizing: border-box;
    }

    div.caixa1 {
        background-color: red;
    }

    div.caixa2 {
        background-color: blue;
    }

    div.caixa3 {
        background-color: crimson;
    }

    div {
        display: inline-block;
        width: 150px;
        height: 130px;
        margin: 15px;
        padding: 12px;
        border: solid 3px yellow;
    }